.waku{
  border: solid ;
  padding: 1px;
  margin:5px;
}

.wakuDis{
  border: solid;
  padding: 1px;
  margin: 5px;
  background-color: gray;
}

.hidden{
  position: absolute;
  top: 50px;
  width: 90%;
  z-index: 2;
  height: 2000px;
}

.top{
  position: absolute;
  top: 50px;
  width: 90%;
  z-index: -1;
}
